<footer class="bg-light py-5" role="contentinfo">
  <div class="container">
    <div class="row gy-4">
      <!-- About -->
      <div class="col-md-3">
        <h5>About ShoeShow</h5>
        <p>
          We believe every step tells a story. That's why we bring you a curated collection of high-quality, stylish, and comfortable footwear for every occasion, from everyday wear to special moments.
        </p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#" class="text-decoration-none text-dark fs-5 me-3">
              <i class="bi bi-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-decoration-none text-dark fs-5 me-3">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-decoration-none text-dark fs-5 me-3">
              <i class="bi bi-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-decoration-none text-dark fs-5">
              <i class="bi bi-dribbble"></i>
            </a>
          </li>
        </ul>
      </div>

      <!-- Customer Care -->
      <div class="col-md-3">
        <h5>Customer Care</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/contact" class="text-decoration-none text-dark">Contact</a></li>
          <li><a routerLink="/add-to-wishlist" class="text-decoration-none text-dark">Wishlist</a></li>
          <li><a routerLink="/sitemap" class="text-decoration-none text-dark">Site Maps</a></li>
        </ul>
      </div>

      <!-- Information -->
      <div class="col-md-3">
        <h5>Information</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/about" class="text-decoration-none text-dark">About Us</a></li>
          <li><a routerLink="/profile" class="text-decoration-none text-dark">Delivery Information</a></li>
          <li><a routerLink="/profile" class="text-decoration-none text-dark">Order Tracking</a></li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div class="col-md-3">
        <h5>Contact Information</h5>
        <ul class="list-unstyled">
          <li>15 El Tahrir Street, Dokki,<br />Giza Governorate, Egypt</li>
          <li><a href="tel:+201090994198" class="text-decoration-none text-dark">+20 109 099 4198</a></li>
          <li><a href="mailto:info@shoeshow.com" class="text-decoration-none text-dark">info&#64;shoeshow.com</a></li>
          <li><a routerLink="/shoeshow" class="text-decoration-none text-dark">Shoe Show</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
