<div class="container-fluid wishlist-container">
  <div class="row mb-4">
    <div class="col-12">
      <h1 class="fw-bold">Your Wishlist</h1>
    </div>
  </div>

  @if (loading) {
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center loading-container">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  } @else if (error) {
    <div class="row">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center error-container">
        <p>{{ error }}</p>
        <button mat-raised-button color="primary" (click)="loadWishlist()">Try Again</button>
      </div>
    </div>
  } @else if (wishlistItems.length === 0) {
    <div class="row">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center empty-wishlist" data-aos="fade-up">
        <p class="mb-3 fs-5">Your wishlist is empty</p>
        <button mat-raised-button color="primary" (click)="continueShopping()">Continue Shopping</button>
      </div>
    </div>
  } @else {
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" data-aos="fade-up">
      @for (item of wishlistItems; track item.productId; let i = $index) {
        <div class="col" [attr.data-aos-delay]="i * 50">
          <mat-card class="wishlist-item h-100 shadow-sm">
            <div class="product-img-container position-relative" [routerLink]="['/products', item.productId]" style="cursor: pointer;">
              <img [src]="getImageUrl(item.img)" [alt]="item.name">
            </div>
            <mat-card-content class="p-3">
              <h3 class="product-title mb-2" [routerLink]="['/products', item.productId]">{{ item.name }}</h3>
              <p class="price mb-0">${{ item.price }}</p>
            </mat-card-content>
            <mat-card-actions class="p-3 pt-0 d-flex justify-content-between align-items-center">
              <button mat-button color="primary" (click)="moveToCart(item)">
                <mat-icon>shopping_cart</mat-icon>
                <span class="d-none d-sm-inline ms-1">Add to Cart</span>
              </button>
              <button mat-icon-button color="warn" (click)="removeFromWishlist(item.productId)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      }
    </div>
  }
</div>
